*{
    padding: 0;
    margin: 0;
}
body{
    background: black;
}
.navigation{
    background: lavender;
    height: 60px;
    width: 50%;
    border-radius: 50px 0 50px;
float: right;
   margin: 10px;
   box-sizing: border-box;
   box-shadow: 10px 10px 8px 10px;
   
}
.navigation ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 25px;
}
.navigation ul li{
    padding: 15px;
    list-style: none;
    }
.navigation ul li a{
    color: black;
    list-style: none;
    text-decoration: none;
}
.portfolio{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    
}
.portfolio img{
    border-radius: 50%;
    height: 500px;
    width: 500px;
   border: 5px solid rgb(226, 185, 185);
    
    
    padding: 10px;
}
.name{
    color: white;

}
.name h4{
  text-align: justify;
 text-align: center;
    /* border: 1px solid red; */
    height: 150px;
    width: 350px;
    padding: 5px;
    margin-left: 40px;
}
.name h1{
    word-spacing: 10px;
}
.work-project{
    /* background: rgb(71, 82, 49); */
    background-color: lightblue;
    height: 300px;
    margin: 20px;
    /* box-sizing: border-box; */
    box-shadow: 10px 15px 8px 6px;
}
.work-project img{
    height:150px;
    width: 200px;
    margin: 80px;
  
}
.skill{
    background: linear-gradient(135deg, #153677, #db8fee);
    height: 1200px;
    width: 800px;
    margin-left: 20%;
}
section{
    display: flex;
    justify-content: space-around;
    margin: 30px;

}
.skill h1{
    color: whitesmoke;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}
section img{
    height: 150px;
    width: 100px;
   
}
section h2{
  margin-top: 50px;
  font-size: 40px;
  color: whitesmoke;
}

.footer{
    background-color: #153677;
    height: 400px;
    width: 100%;
    margin-top: 0.5px;
    border-top: 1px solid white;
    
}
.footer-skill{
    display: flex;
   
  
    
}

.footer-skill ul li{
    padding: 10px;
    font-size: 30px;
    color: whitesmoke;
    list-style: none;
   margin-left: 250px;
}
.footer-skill ul li a{
    color: whitesmoke;
    text-decoration: none;
}
.footer h2{
    font-size: 40px;
    color: whitesmoke;
    margin-left: 10%;
    padding: 10px;
}
.footer-skill img{
    height: 300px;
    width: 250px;
    margin-left: 600px;
}

.contact{
    background: navy;
    width: 100%;
    height: 150px;
    border-top: 2px solid wheat;
}
.contact h1{
    color: whitesmoke;
    font-size: 30px;
    padding: 10px;
    margin-left: 15%;
}
.contact p{
    color: white;
    font-size: 30px;
    margin-left: 15%;
    padding: 5px;
}
